<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU" prefix="og: http://ogp.me/ns#"
	  xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
	<!--#include virtual="/sudo-global/includes/global-ie9.inc" -->
	<!--#include virtual="/sudo-global/includes/g-analytics.inc" -->

	<title>Voting – Sudo – UC's Developers Organisation</title>

	<meta name="Description" content="Voting for Sudo's first Pitch Night" />

	<meta property="og:title" content="Voting – Sudo – UC's Developers Organisation" />
	<meta property="og:description" content="Voting for Sudo's first Pitch Night" />
	<meta property="og:url" content="https://sudo.org.au/vote/" />
	<meta property="og:image" content="https://sudo.org.au/sudo-global/images/og_image.png" />
	<!--#include virtual="/sudo-global/includes/global-meta.inc" -->

	<!--#include virtual="/sudo-global/includes/global-styles.inc" -->
	<link rel="stylesheet" href="/vote/styles/vote.css" />
</head>

<body>
	<header class="overlap" data-sticky-container>
		<div class="grid-container grid-x grid-padding-x">
			<div class="column text-center">
				<a href="/" class="logo-for-pitch-night">
					Powered by <b>Sudo</b>
				</a>
			</div>
		</div>
	</header>


	<section id="hero">
		<div class="grid-container grid-x grid-padding-x align-middle">
			<div class="small-12 medium-12 text-center cell">
				<h1><small>Entry 29 Lift Off 🚀</small><br><b>Pitch Event</b></h1>
			</div>
		</div>
	</section>

	<section id="voting">
		<div v-if="!submitted">
			<div class="grid-container grid-x grid-padding-x">
				<div class="small-12 cell">
					<h4>Below are the pitches you heard tonight,</h4>
					<p>Slide the slider along to indicate your theoretical investment</p>
					<h6 class="amount">Amount left: ${{ amount }},000</h6>
					<div v-cloak class="selection" v-for="can in candidates" :key="can.id" v-bind:disabled="{ 'disabled': can.disabled }" v-bind:class="{ 'voted': can.selected, 'disabled': can.disabled }">
						<span v-if="can.name"><b>{{ can.name }}</b> –</span> {{ can.project }}
						<vue-slider
								:id="can.id"
								v-model="can.amount"
								:max="25"
								tooltip-dir="bottom"
								v-on:callback="callback"
								formatter="${value},000"
								v-on:drag-end="dragEnd"
								:clickable="false"
						></vue-slider>
					</div>
				</div>
			</div>
			<div class="grid-container grid-x grid-padding-x">
				<div class="column">
					<div class="button primary expanded" @click="submit">Submit</div>
				</div>
			</div>
		</div>
		<div v-if="comeback">
			<div class="grid-container grid-x grid-padding-x">
				<div class="small-12 cell">
					<h4>Thank you for submitting!</h4>
					<p>Have a great night!</p>
				</div>
			</div>
		</div>
	</section>

	<script src="/vote/scripts/min/vote.min.js" charset="utf-8"></script>
	<!--#include virtual="/vote/includes/footer.inc" -->
	<!--#include virtual="/sudo-global/includes/global-scripts.inc" -->

</body>

</html>
