<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>Signup – Sudo – UC’s premiere Kickstarting and Coding Society</title>

	<meta name="Description" content="Sudo is the University of Canberra's Developer's Society." />

	<meta property="og:title" content="Signup – Sudo – UC's Developers Organisation" />
	<meta property="og:description" content="Sudo is the University of Canberra's Developer's Society." />
	<meta property="og:url" content="https://sudo.org.au/" />
	<meta property="og:image" content="https://sudo.org.au/sudo-global/images/og_image.png" />




	<meta name="Keywords" content="">

	<meta property="og:locale" content="en_AU" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Sudo – UC's Developers Organisation" />
	<meta name="theme-color" content="#778eff">

	<link rel="home" href="https://sudo.org.au/" />
	<link rel="index" href="https://sudo.org.au/" />


	<link rel="stylesheet" href="/sudo-global/styles/sudo-global.css">

	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/sudo-global/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/sudo-global/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/sudo-global/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/sudo-global/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/sudo-global/favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/sudo-global/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/sudo-global/favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/sudo-global/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/sudo-global/favicon/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/sudo-global/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/sudo-global/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/sudo-global/favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/sudo-global/favicon/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Sudo – UC’s premiere Kickstarting and Coding Society" />
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="https://sudo.org.au/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="https://sudo.org.au/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="https://sudo.org.au/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="https://sudo.org.au/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="https://sudo.org.au/mstile-310x310.png" />

	<link rel="stylesheet" href="/signup/styles/signup.css" />
</head>

<body>
	<header class="overlap" data-sticky-container>
		<div class="row">
			<div class="column">
				<a href="/">
					<div class="logo"></div>
				</a>
			</div>
			<div class="column show-for-medium">
				<nav>
					<ul class="menu align-center ">
						<li>
							<a href="/about/">About</a>
						</li>
						<li>
							<a href="/projects/">Projects</a>
						</li>
						<li>
							<a href="https://blog.sudo.org.au/">Blog</a>
						</li>
						<li>
							<a href="https://discord.gg/sjF2y4G">Discord</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="column text-right">
				<div class="mobile-menu hide-for-medium"></div>
				<a href="https://api.sudo.org.au/" class="signin show-for-medium">Sign In <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div>
		</div>
	</header>


	<section id="hero">

		<div class="row align-middle">
			<div class="small-12 small-centered columns text-center relative">
				<transition name="fade">
					<div class="" v-if="stage == 1">
						<h3>Sign Up</h3>
						<div class="row align-center">


							<div class="form small-6 columns" role="form" method="POST" action="https://api.sudo.org.au/register">
								<input type="hidden" name="_token" value="0ivzAJQZyfJDHiIyH1nlj4XTazHvtWxuSyMrfbZo">

								<div class="form-group">
									<label for="name" class="small-12 columns control-label">Name</label>

									<div class="small-12 columns">
										<input v-model="name" id="name" type="text" class="form-control" name="name" value="" required="" autofocus="">

									</div>
								</div>

								<div class="form-group">
									<label for="email" class="small-12 columns control-label">E-Mail Address</label>

									<div class="small-12 columns">
										<input v-model="email" id="email" type="email" class="form-control" name="email" value="" required="">

									</div>
								</div>

								<div class="form-group">
									<label for="email" class="small-12 columns control-label">Student ID</label>

									<div class="small-12 columns">
										<input v-model="studentid" id="studentid" type="text" class="form-control" name="studentid" value="" required="">

									</div>
								</div>

								<div class="form-group">
									<label for="password" class="small-12 columns control-label">Password</label>

									<div class="small-12 columns">
										<input v-model="password" id="password" type="password" class="form-control" name="password" required="">

									</div>
								</div>

								<div class="form-group">
									<label for="password-confirm" class="small-12 columns control-label">Confirm Password</label>

									<div class="small-12 columns">
										<input v-model="passwordconfirm" id="password-confirm" type="password" class="form-control" name="password_confirmation"
										 required="">
									</div>
								</div>

								<div class="form-group">
									<div class="small-12 columns small-o columnsffset-4">
										<button @click="nextStage(2)" class="button primary">
												Register
											</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</transition>

				<transition name="fade">
					<div class="" v-if="stage == 2">
						<h3>Sign Up</h3>
						<h2>What type of membership are you looking for?</h2>
						<button class="button white" id="semesterButton">Just semester 2</button>
						<button class="button secondary" id="yearButton">Full Year</button>
					</div>
				</transition>
			</div>
		</div>

	</section>

	<footer class="row">
		<div class="column">

			<div class="legal">Copyright &copy; 2017 Sudo. All Rights Reserved.</div>
			<div class="unican"></div>
		</div>
	</footer>



	<script>
		(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-92634739-1', 'auto');
		ga('send', 'pageview');
	</script>

	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js" charset="utf-8"></script>
	<script src="/signup/scripts/signup.js" charset="utf-8"></script>

</body>

</html>
