@import "../../../bower_components/sudo-web-framework/scss/sudoweb";

section {
	padding: 100px 0;
    min-height: 700px;

    .row {
        min-height: 700px;
        position: relative;
    }

    &#hero {
        $content-height: 85vh;
        background-image: url("/about/images/hero_background_large.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: $content-height;
        color: #FFF;
        overflow: hidden;
		padding-top: 100px;

		@include breakpoint(retina) {
			background-image: url("/about/images/hero_background_large_2x.jpg");
		}

        .row {
            // height: calc(100%);
            z-index: 2;
            position: relative;

            h1 {
                margin-bottom: 0px;
                line-height: 40px;

                b {
                    font-weight: 500;
                }
            }

            h3 {
                color: #ff9b98;
                font-size: 26px;
                margin-bottom: 20px;
            }

            a.button.more {
                color: #ff4545;
            }
        }

        figure.iphone {
			margin: 0 auto;
			transform: translateX(-20%);
            margin-bottom: -200px;

            background-image: url('/about/images/iphone_large.png');
            background-size: 588px 541px;
            width: 588px;
            height: 541px;
			@include breakpoint(retina) {
				background-image: url('/about/images/iphone_large_2x.png');
			}

			@include breakpoint(medium) {
				transform: translateX(0%);
				position: absolute;
	            top: 20%;
	            right: -100px;
	            margin: 0;

	            width: 588px;
	            height: 541px;
			}
        }
    }

    &#languages {
        background-image: url("/about/images/languages_background_large.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        color: #FFF;
        overflow-x: hidden;
		@include breakpoint(retina) {
			background-image: url("/about/images/languages_background_large_2x.jpg");
		}

        figure {
            width: 299px;
            height: 451px;
			margin: 0 auto;
			margin-bottom: 40px;
            background-image: url('/about/images/languages_logo_large.png');
            background-size: 299px 451px;

			@include breakpoint(retina) {
				background-image: url('/about/images/languages_logo_large_2x.png');
			}

			@include breakpoint(medium) {
	            width: 299px;
	            height: 451px;
	            background-image: url('/about/images/languages_logo_large.png');
	            background-size: 299px 451px;
	            position: absolute;
	            top: 120px;
	            left: -70px;
			}
        }

        h2 {
            color: #342b2b;
            font-size: 2.3rem;
            font-weight: 500;
            margin: 0;
            line-height: 40px;
        }
        h4 {
            color: #ec4e48;
        }
        p {
            color: #342b2b;
        }
    }
    &#helloworld {
        background-color: #1c1a19;
        position:relative;

        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            background-image: url("/about/images/helloworld_background_large.png");
            background-size: cover;
            background-position: center;
            opacity: 1;
            z-index: 0;
			@include breakpoint(retina) {
				background-image: url("/about/images/helloworld_background_large_2x.png");
			}
        }

        figure.logo {
            background-image: url('/about/images/helloworld_logo_large.png');
            background-size: 241px 241px;
            height: 241px;
            width: 241px;
			margin: 80px auto 0;

			@include breakpoint(medium) {
				float: right;
				margin: 0
			}

			@include breakpoint(retina) {
				background-image: url('/about/images/helloworld_logo_large_2x.png');
			}
        }

        h2 {
            color: #fff;
            font-size: 2.3rem;
            font-weight: 500;
            margin: 0;
            line-height: 40px;
        }
        h4 {
            color: #ec4e48;
        }
        p {
            color: #e8e8e8;
        }
    }

    &#eightweek {
        background-color: #fff;
        position:relative;
        padding: 50px 0;

        .promo {
			max-width: 424px;
			margin: 0 auto;
			margin-bottom: 80px;

			@include breakpoint(medium) {
				width: auto;
				margin-right: 50px;
	            flex: 0 0 424px;
				margin-bottom: 0;

			}


			@include breakpoint(large) {
	            flex: 0 0 434px;
	            max-width: 434px;
			}

            .box{
                background-image: url('/about/images/8w_promo_background_large.png');
                background-repeat: none;
                background-position: center;
                background-size: 404px 582px;
                height: 582px;
                padding: 0 40px;
                padding-top: 350px;
                border-radius: 5px;
                box-shadow: 0px 3px 65px 0px rgba(20, 72, 96, 0.09), 0px 3px 40px 0px rgba(20, 72, 96, 0.07), 0px 14px 40px 0px rgba(20, 72, 96, 0.07);

				@include breakpoint(retina) {
					background-image: url('/about/images/8w_promo_background_large_2x.png');
				}
            }

            h4 {
                color: #fff;
            }
            p {
                color: #e8e8e8;
            }
            a {
                color: #ec4e48;
            }

        }

        h2 {
            font-size: 2.3rem;
            font-weight: 500;
            margin: 0;
            line-height: 40px;
            color: #342b2b;
        }
        h4 {
            color: #ec4e48;
        }
        p {
            color: #342b2b;
        }
    }

    &#router {
		padding: 0;
        min-height: auto;
        height: 250px;
        background-image: url('/about/images/projects_router_large.jpg');
        background-size: cover;
        background-position: center;
        overflow: hidden;
        position: relative;

		@include breakpoint(retina) {
			background-image: url('/about/images/projects_router_large_2x.jpg');
		}

        a:hover {
            figure {
                -moz-transform: translate(25px, -25px);
                -webkit-transform: translate(25px, -25px);
                -o-transform: translate(25px, -25px);
                -ms-transform: translate(25px, -25px);
                transform: translate(25px, -25px);

            }
        }

        .row {
            min-height: auto;
            padding: 45px 0;
        }

        figure {
            background-image: url('/about/images/router_iphones_large.png');
            background-size: 679px 476px;
            height: 476px;
            width: 679px;
            position: absolute;
            top: 0;
            right: 0;
			left: 150px;
            transition: transform .3s;

			@include breakpoint(medium) {
				left: 0;
			}

			@include breakpoint(retina) {
				background-image: url('/about/images/router_iphones_large_2x.png');
			}
        }

        h2 {
            font-size: 2.3rem;
            font-weight: 500;
            margin: 0;
            line-height: 40px;
            color: #fff;
        }
        h5 {
            color: #fff;
        }
    }
}
