@import "../../../bower_components/sudo-web-framework/scss/sudoweb";

section {

    .row {
        min-height: 700px;
        position: relative;
    }

    &#hero {
        $content-height: 85vh;
        background-image: url("/pitch/images/bg_2x.jpg");
        background-size: cover;
        background-position: center;

        width: 100%;
        height: $content-height;
        color: #FFF;
        overflow: hidden;

        .row {
            height: calc(100%);
            z-index: 2;
            position: relative;

            h1 {
				font-size: 3rem;
                margin-bottom: 0px;
                line-height: 45px;

				small {
					font-size: 30px;
					font-weight: 600;
					color: #FFF;
				}

                b {
                    font-weight: 500;
                }
            }

            h3 {
                color: #dcabe5;
                font-size: 28px;
                margin-bottom: 20px;
            }

            p {
                color: #dcabe5;
				font-size: 20px;

				span {
					display: block;
					color: #FFF;
				}
            }

            a.button.more {
                color: #8f61c2;
            }
        }
    }


	.callout {
		position: relative;
		margin-top: -100px;
		text-align: center;
		padding-bottom: 360px;

		@include breakpoint(large) {
            text-align: left;
			min-height: 318px;
			padding-bottom: 0;
			padding-top: 50px;
        }


		h2 {
			font-weight: 600;
			font-size: 2rem;
			color: #a22ac6;
		}

		p {
			color: #AAA;
		}

		a.button {
			color: #FFF;
		  background-image: -moz-linear-gradient( 5deg, rgb(84,21,117) 0%, rgb(144,50,150) 100%);
		  background-image: -webkit-linear-gradient( 5deg, rgb(84,21,117) 0%, rgb(144,50,150) 100%);
		  background-image: -ms-linear-gradient( 5deg, rgb(84,21,117) 0%, rgb(144,50,150) 100%);

		  &:hover {
			  color: #FFF;
		  }
		}

		figure.mic {
			height: 318px;
			width: 100%;
			margin: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			background-image: url('/pitch/images/mic_2x.png');
			background-size: 325px 318px;
			background-position: center;
			background-repeat: no-repeat;
			//display: none;

			@include breakpoint(large) {
				width: 325px;
				position: absolute;
				top: 0;
				left: auto;
				right: 0;
                display: block;
            }
		}


	}
}
