@import "~sudo-web-framework/scss/sudoweb";

html, body {
	background-color: #fafafa;
}
header {
  .logo-for-pitch-night {
    font-family: "Circular Std", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #FFF;
    font-size: 20px;

    b {
      font-weight: 600;
    }
  }
}
section {
    .row {
        position: relative;
    }

    &#hero {
        $content-height: 200px;
        background-image: url("/pitch/images/bg_2x.jpg");
        background-size: cover;
        background-position: center;

        width: 100%;
        height: $content-height;
        color: #FFF;
        overflow: hidden;

        .row {
            height: calc(100%);
            z-index: 2;
            position: relative;

            h1 {
				font-size: 3rem;
                margin-bottom: 0px;
                line-height: 45px;

				small {
					font-size: 26px;
					font-weight: 500;
					color: #FFF;
				}

                b {
                    font-weight: 500;
                }
            }

            h3 {
                color: #dcabe5;
                font-size: 28px;
                margin-bottom: 20px;
            }

            p {
                color: #dcabe5;
				font-size: 20px;

				span {
					display: block;
					color: #FFF;
				}
            }

            a.button.more {
                color: #8f61c2;
            }
        }
    }

	&#voting {
		padding-top: 50px;

      h6 {
        &.amount {
          font-size: 30px;
        }
      }
      .vue-slider-component {
        .vue-slider-tooltip {
          border: 1px solid #7394fc;
          background-color: #7394fc;
        }
        .vue-slider-process {
          background-color: #7394fc;
        }
      }

		.selection {
			transition: background 0.2s, color 0.2s, border 0.2s;
			width: 100%;
			margin: 20px 0;
			background-color: #eee;
			padding: 20px 40px;
			border-left: solid 4px #7394fc;

			&.voted {
				background-color: #bd41cf;
				color: #FFF;

				&:before {
					content: '⟩  ';

				}
			}

			&.disabled {
				background-color: #a2a2a2;
				border-left: none;
				color: #CCC;
			}
		}
	}

}
