section {
    &#cards {
        z-index: 3;
        position: relative;
        margin-top: -90px;
        height: auto;
        min-height: auto;

        .row {
            min-height: auto;
        }

        .columns {
            &:first-child {
                @include breakpoint(medium) {
                    // padding-right: 0;
                }
            }
        }

        .callout {
            position: relative;
            padding-left: 7rem;

            @include breakpoint(medium) {
                padding-left: 6rem;
            }

            h4 {
                font-size: 20px;
            }

            p {
                color: #cdcdcd;
                transition: color 0.2s;
            }

            &:before {
                content: " ";
                display: block;
                position: absolute;
                left: 0;
            }

            &.github {

                h4 {
                    color: #f34f29;
                }

                &:before {
                    background-image: url('/home/images/gitrepo_2x.png');
                    background-size: 76px 91px;
                    width: 76px;
                    height: 91px;
                }
            }

            &.ninja {
                h4 {
                    color: #774be3;
                }

                &:hover p {
                    color: #d5c8f2;
                }

                &:before {
                    background-image: url('/home/images/devninja_2x.png');
                    background-size: 89px 115px;
                    width: 89px;
                    height: 115px;
                    top: 20px;
                }
            }

        }
    }
}
