@import "~sudo-web-framework/scss/sudoweb";

section {
    min-height: 700px;

    .grid-container {
        min-height: 700px;
        position: relative;
    }

    &#hero {
        $content-height: 85vh;
        background-image: url("/projects/images/hero_background.jpg");
        background-size: cover;
        background-position: center;
		padding-top: 100px;
        width: 100%;

        color: #FFF;
        overflow: hidden;

		@include breakpoint(medium) {
			padding-top: 0;
			height: $content-height;
		}

        .grid-container {
            height: calc(100%);
            z-index: 2;
            position: relative;

            h1 {
                color: $white;
                margin-bottom: 0px;
                line-height: 40px;

                b {
                    font-weight: 500;
                }
            }

            h3 {
                color: #76e163;
                font-size: 26px;
                margin-bottom: 20px;
            }

            p {
                color: #a9ed9d;
            }

            a.button.more {
                color: #4eb953;
            }
        }

        figure.macbook {

            background-image: url('/projects/images/hero_macbook.png');
            background-size: 947px 823px;
            width: 947px;
            height: 823px;
			display: none;
			position: absolute;
			top: 20%;
            right: -500px;
            margin: 0;

			@include breakpoint(medium) {
				display: block;
			}

			@include breakpoint(large) {
				right: -411px;
			}
        }
    }
}
