@import "../../../bower_components/sudo-web-framework/scss/sudoweb";

section {
    &#hero {
        @include sw-gradient("sudobg");
        $content-height: 85vh;

        width: 100%;
        height: $content-height;
        color: #FFF;

        &:after {
            display: block;
            content: "";
            width: 100%;
            height: $content-height;
            top: 0;
            position: absolute;
            background-image: url("/home/images/home-background.jpg");
            background-size: cover;
            background-position: center;
            opacity: 1;
            z-index: 1;
        }

        .row {
            height: calc(100%);
            z-index: 2;
            position: relative;

            h1 {
                line-height: 25px;

                b {
                    font-weight: 600;
                }
                @include breakpoint(medium) {
                    line-height: 50px;
                }
            }

            h3 {
                color: #d1e2ed;
                font-size: 20px;
            }
        }
    }

    &#cards {
        z-index: 3;
        position: relative;
        margin-top: -90px;

        .columns {
            &:first-child {
                @include breakpoint(medium) {
                    // padding-right: 0;
                }
            }
        }

        .callout {
            position: relative;
            padding-left: 7rem;

            @include breakpoint(medium) {
                padding-left: 6rem;
            }

            h4 {
                font-size: 20px;
            }

            p {
                color: #cdcdcd;
                transition: color 0.2s;
            }

            &:before {
                content: " ";
                display: block;
                position: absolute;
                left: 0;
            }

            &.github {

                h4 {
                    color: #f34f29;
                }

                &:before {
                    background-image: url('/home/images/gitrepo_2x.png');
                    background-size: 76px 91px;
                    width: 76px;
                    height: 91px;
                }
            }

            &.ninja {
                h4 {
                    color: #774be3;
                }

                &:hover p {
                    color: #d5c8f2;
                }

                &:before {
                    background-image: url('/home/images/devninja_2x.png');
                    background-size: 89px 115px;
                    width: 89px;
                    height: 115px;
                    top: 20px;
                }
            }

        }
    }

}
